.background {
    width: 100vw;
    height: 100vh;
    min-height: 800px;
    background-image: url(/assets/img/background1.jpg);
    background-size: cover;
    filter: blur(8px);
}
.page {
    width: 70%;
    max-width: 1200px;
    height: 700px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 20px rgba(0,0,0,0.7);
}

.welcome-page {
    background-color: rgb(54, 155, 255);
    background-size: cover;
    width: 50%;
    color: white;
    border-radius: 10px 0px 0px 10px;
    display: flex;
    flex-direction: column;
}
.logo {
    padding: 1em;
    height: 10%;
}
.logo img {
    width: 250px;
}
.welcome-page-title{
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 6em 1.5em;
    height: 35%; 
}
.sticker {
    text-align: center;
    height: 45%;
}
.sticker img {
    width: 230px;
}
.welcome-page-footer {
    height: 10%;
    padding: 3em 2em;
    font-size: 0.75em;
    font-family: Arial, Helvetica, sans-serif;
}
.welcome-page-footer a{
    color: white;
    text-decoration: none;
}
.welcome-page-footer a:hover{
    text-decoration: underline;
}

.login-page {
    width: 50%;
    font-family: Arial, Helvetica, sans-serif;
}
.login-page-container{
    width: 60%;
    margin: 0 20%;
}
.login-page-title{
    color: rgb(54, 155, 255);
    font-size: 3em;
    font-weight: 600;
    padding-top: 1em;
}
.login-page-paragraf{
    padding-bottom: 2em;
}
.form{
    display: flex;
    flex-direction: column;
    text-align: left; 
}
.form label{
    padding-top: 1em;
    color: gray;
    font-size: 0.75em;
}
.form input{
    width: 100%;
    min-width: 200px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid gray;
    font-size: 18px;
    padding-left: 10px;
}
.checkbox{
    padding: 1em 0 3em 0;
    font-size: 0.75em;
    color: gray;
}
.btn-login{
    width: 100%;
    min-width: 200px;
    height: 40px;
    border-radius: 5px;
    background-color: rgb(54, 155, 255);
    border: none;
    color: white;
    font-size: 1em;
    margin-bottom: 2em;
}
.login-page-footer{
    display: flex;
    font-size: 0.75em;
    color: gray;
    text-align: justify;
}
.login-page-footer a{
    color: rgb(54, 155, 255);
    text-decoration: none;
}
.login-page-footer a:hover{
    text-decoration: underline;
}
.forgot-password a{
    color: gray;
}
.signup-link{
    width: 50%
}
.forgot-password{
    width: 50%;
    text-align: right;
}

@media (max-height: 800px){
    .page {
        top: 0;
        left: 0;
        transform: translate(0, 0);
        margin-left: 15%;
        margin-top: 50px;
    }
}

@media (max-width: 967px){
    .background {
        height: 100vh;
        min-height: 1500px;
    }
    .page {
        flex-direction: column;
        height: 1400px;
        top: 0;
        left: 0;
        transform: translate(0, 0);
        margin-left: 15%;
        margin-top: 50px;
    }
    .welcome-page {
        width: 100%;
        border-radius: 10px 10px 0px 0px;
    }
    .login-page {
        width: 100%;
        padding-top: 60px;
    }
}

@media (max-width: 497px){
    .page{
        height: 1500px;
        width: 100%;
        margin: 0;
        border-radius: 0;
    }
    .welcome-page {
        border-radius: 0;
    }
}

@media (max-width: 380px){
    .login-page-container{
        width: 80%;
        margin: 0 10%;
    }
    .welcome-page-title{
        height: 40%; 
    }
    .sticker {
        height: 40%;
    }
    .logo img {
        width: 180px;
    }
}
