#bg {
    background-image: url("https://wallpapercave.com/wp/wp9070010.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 97.5vh;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#page { 
    text-align: center;
    width: 1100px;
    height: 900px;
    background-color: rgb(214, 214, 214);
    border-radius: 30px;
}
img {
    width: 200px;
    border: 2px solid black;
    border-radius: 8px;
}

#header {
    grid-area: header;
}
#image {
    grid-area: image;
}
#buttons {
    grid-area: buttons;
}

#page {
    display: grid;
    grid-template-areas:
        'header header'
        'image image'
        'buttons buttons';
}

@media (max-width: 1280px) {
    #page {
        width: 900px;
    }
}
@media (max-width: 1024px) {
    #page {
        width: 700px;
    }
}
@media (max-width: 768px) {
    #page {
        width: 500px;
    }
}
@media (max-width: 640px) {
    #page {
        width: 400px;
    }
}
@media (max-width: 475px) {
    #page {
        width: 90%;
    }
}

@media (max-height: 1000px) {
    #page {
        height: 800px;
    }
}
@media (max-height: 900px) {
    #page {
        height: 700px;
    }
}
@media (max-height: 800px) {
    #page {
        height: 600px;
    }
}
@media (max-height: 700px) {
    #page {
        height: 500px;
    }
    img {
        width: 150px;
    }
}
@media (max-height: 600px) {
    #page {
        height: 400px;
    }
    img {
        width: 100px;
    }
}







