<div class="background"></div>
<div class="page">
    <div class="welcome-page">
        <div class="logo">
            <img src="/assets/img/logo2.png" alt="logo">
        </div>
        <div class="welcome-page-title">
            <h1>Welcome to...</h1>
            <p>our Financial Assistant app that will help you about your financial problems.</p>
        </div>
        <div class="sticker">
            <img src="/assets/img/financial-advisor.png" alt="sticker">
        </div>
        <div class="welcome-page-footer">
            <a href="#">contact us</a>
        </div>
    </div>
    <div class="login-page">
        <div class="login-page-container">
            <div class="login-page-title">Login</div>
            <div class="login-page-paragraf">
                <p>Welcome! Login to get amazing service.</p>
            </div>
            <div class="form">
                <label for="username">User Name</label>
                <input type="text" name="username">
                <label for="password">Password</label>
                <input type="password" name="password">
            </div>
            <div class="checkbox">
                <input type="checkbox"><span>Remember me</span>
            </div>
            <button class="btn-login">LOGIN</button>
            <div class="login-page-footer">
                <div class="signup-link">
                    new User? <a href="#">Sign up</a>
                </div>
                <div class="forgot-password">
                    <a href="#">Forgot your password?</a>
                </div>
            </div>
        </div>
    </div>
</div>